* {
    padding: 0;
    margin: 0;
}
.Header {
    color: #e5e7e8;
    background-color: #1F2837;
}
  
.headertop {
   display: flex;
   justify-content: space-between;    
}

ul {
    display: flex;
    list-style: none;
}

a {
   text-decoration: none;
   color: #e5e7e8;    
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.titlesub {
    font-size: 18px;
    color: #E9FAF8;
}
.headerbody {
    background-color: #1F2837;
    display: flex;
}

img {
    max-height: 250px;
}



