body {
    border: 200px;
    column-gap: normal;
    position: fixed;
 }
 .head {
    padding:200px;
    background-color:black;
    color: white;
}
.header {
    padding-left: 2px;
    margin: auto;
    position: absolute; 
}
.head > button {
  
    background-color: rgb(114, 114, 224);
    color: white;
}
.h2 secondheading {
      font-size: 20px;
}
.extra {
    padding: 200px;
    background-color: gray;
}
.bottom {
    padding: 50px;
    background-color: black;
    color: gray;

}
.threed {
    padding: 150px;
    background-color: white;
}
